version: '3.9'
services:

  postgres:
    image: postgres:15
    container_name: wifiportal_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: WifiPortal
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: wifiportal_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

  api:
    build:
      context: .
      dockerfile: WifiPortal/Dockerfile
    container_name: wifiportal_api
    restart: always
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
      ConnectionStrings__DefaultConnection: "Host=postgres;Port=5432;Database=WifiPortal;Username=postgres;Password=postgres"
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    command: ["dotnet", "WifiPortal.dll"]

volumes:
  postgres_data:
